*{
    background-color: blueviolet;
}


/* 
body{

    background-color: hotpink;
} */
h1{
    color: red;
}

h1:hover{
    cursor: pointer;
    width: 50%;
    opacity: 0.4;
}

ul{

    list-style-type: none;
    color: blanchedalmond;
}
li:hover{

    cursor: pointer;
    color: red;
    background-color: gold;
    font-weight: 900;
    width: 15%;
}
.list{

    border: 9px solid yellow;
}